//- .v-serp-trip
.v-s-t-bg-wrap
  .v-s-t-bg-container
    img.v-s-t-bg-img(src="/img/views/searchform.jpg")

.v-serp-trip-content.l-wrap
  header.v-s-t-header
    .v-s-t-meta
      h2.v-s-t-places #{origin.place.name_ru} &ndash; #{destination.place.name_ru}
      small.v-s-t-dates #{app.utils.humanizeDatesSpan(origin.date, destination.date)}

    .v-s-t-totals
      span.v-s-t-t-value
        span.v-s-t-t-value-num
        | руб

    .v-s-t-results
      .v-s-t-r-flight
        span.v-s-t-r-label Перелет:
        span.v-s-t-r-value
          span.v-s-t-r-value-num
          | руб
        span.v-s-t-r-default не выбран

      .v-s-t-r-hotel
        span.v-s-t-r-label Отель:
        span.v-s-t-r-value
          span.v-s-t-r-value-num
          | руб
        span.v-s-t-r-default не выбран

  if flights_signature
    .v-s-t-flights
      h3.v-s-t-title Перелеты #{origin.place.name_ru} &rarr; #{destination.place.name_ru}

      .v-s-t-rowcontrols
        ul.v-s-t-c-filters
          li.v-s-t-c-filter.selected(data-filter="none") Все
          li.v-s-t-c-filter(data-filter="convenient") Оптимальные
          li.v-s-t-c-filter(data-filter="cheap") Дешевые
          li.v-s-t-c-filter(data-filter="direct") Прямые

        span.v-s-t-c-count 0/0

      div.v-s-t-carousel.m-carousel
        span.m-c-prev.m-c-control.disabled
        span.m-c-next.m-c-control

        .m-c-coutainer
          ul.m-c-list
          .v-s-t-c-loading
            span Загрузка...
          .v-s-t-c-emptyset
            span Не нашлось перелетов с такими параметрами
        
  if hotels_signature
    .v-s-t-hotels
      h3.v-s-t-title Отели в #{destination.place.name_ru_inflected}

      .v-s-t-rowcontrols
        ul.v-s-t-c-filters
          li.v-s-t-c-filter.selected(data-filter="none") Все
          li.v-s-t-c-filter(data-filter="convenient") Оптимальные
          li.v-s-t-c-filter(data-filter="cheap") Дешевые
          li.v-s-t-c-filter(data-filter="luxury") Лакшери

        span.v-s-t-c-count 0/0

      div.v-s-t-carousel.m-carousel
        span.m-c-prev.m-c-control.disabled
        span.m-c-next.m-c-control

        .m-c-coutainer
          ul.m-c-list
          .v-s-t-c-loading
            span Загрузка...
          .v-s-t-c-emptyset
            span Не удалось найти проживание с такими параметрами
