li.v-t-destination(data-index=index)
  .v-t-d-cities
    .v-t-d-inputwrap.m-input-suggest
      input.v-t-d-from_name.m-i-s-input(type="text", name='from_name', value=from_name, placeholder="Откуда", autocorrect="off", autocapitalize="off", x-webkit-speech="x-webkit-speech")
      input.v-t-d-from_id(type="hidden", name='from_id', value=from_id)
      ul.m-i-s-list
    span.v-t-d-arrow
    .v-t-d-inputwrap.m-input-suggest
      input.v-t-d-to_name.m-i-s-input(type="text", name='to_name', value=to_name, placeholder="Куда", autocorrect="off", autocapitalize="off", x-webkit-speech="x-webkit-speech")
      input.v-t-d-to_id(type="hidden", name='to_name', value=to_name)
      ul.m-i-s-list
    if (index > 1)
      span.v-t-d-remove
  .v-t-d-dates
    .v-t-d-inputwrap
      - var from = new Date();
      input.v-t-d-from.m-input-calendar.small(type="text", placeholder="дата вылета", value=app.utils.dateToYMD(from))
    span.v-t-d-dash
    .v-t-d-inputwrap
      - var to = new Date(); to.setDate(to.getDate() + 2);
      input.v-t-d-to.m-input-calendar.small(type="text", placeholder="дата прилета", value=app.utils.dateToYMD(to))
