- var klass = 'v-t-stop'; if (index === 0) klass += ' first'; if ((index + 1) % 2 === 0) klass += ' even';
li(class=klass, data-index=index)
  .v-t-s-place
    input.v-t-s-p-name(type="text", name='place', value=place_name, placeholder="Город", autocorrect="off", autocapitalize="off", x-webkit-speech="x-webkit-speech")
    input.v-t-s-p-id(type="hidden", name='place_id', value=place_id)
    ul.v-t-s-p-suggestions

  .v-t-s-date
    input.m-input-calendar(type="hidden", name="date", value=date)
    - if (index > 1)
    .v-t-s-remove
      span.v-t-s-removestop.pointy &ndash; удалить из маршрута
